header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 0; 
    background-color: #f0f0f0;
}

p {
    background-color: #c2f3ff;
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 5vh; 
    width: 40vh; 
    font-family: Arial;
    font-size: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px; 
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    margin: 0; 
    background-color: #f0f0f0;
}