@keyframes pop {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.content {
    display: flex;
    justify-content: center;
    height: 80vh; 
    margin: 0px; 
    background-color: #f0f0f0;
    font-family: Arial;
}

.ListBox {
    background-color: #c2f3ff;
    display: flex;
    flex-direction: column;
    width: 55vh;
    margin-top: 5px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dynamicNavigation {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 10vh;
    padding: 10px;
}

.tasksListing {
    background-color: #c2f3ff;
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-self: center;
    overflow-y: auto; 
    
}


.tasksListing::-webkit-scrollbar {
    width: 12px; 
}

.tasksListing::-webkit-scrollbar-track {
    background: #c2f3ff; 
    border-radius: 10px; 
}

.tasksListing::-webkit-scrollbar-thumb {
    background: #007BFF; 
    border-radius: 10px; 
}

.tasksListing::-webkit-scrollbar-thumb:hover {
    background: #006bdd;
}

.inputTask {
    color: rgb(0, 0, 0); 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
}

.addTask {
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}


.addTask:hover {
    background-color: #006bdd; 
}

.addTask:active {
    background-color: #001730; 
}

.popUp {
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
  }
  .popUpContnet {
    background: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }

  .popUpSucces {
    position: fixed;
    justify-content: center;
    bottom: 20px; 
    right: 20px;  
    animation: pop 0.3s ease; 
}

.popUpSuccesContnet {
    background: rgb(171, 255, 178);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}
